<!--首页-->

{% extends "base.html" %}
{% block title %}
    公司常用网址
{% endblock title %}
{% block navtitle %}
    公司常用网址
{% endblock %}
<div>
    {% block main %}
        <div
                class="border-primary"
                id=" content"
                style="margin: 1px; text-align: left"
        >
            <div class="container-fluid">
                <div
                        class="d-sm-flex justify-content-between align-items-center justify-content-xl-center mb-4"
                        style="color: var(--indigo)"
                ></div>
                <div class="row" style="color: var(--blue)">
                    <div class="col">
                        <h3
                                class="text-dark d-xl-flex justify-content-xl-center"
                                style="color: var(--blue); height: 25px"
                        >
                            <i
                                    class="la la-briefcase d-xl-flex justify-content-xl-center"
                                    style="font-size: 28px; height: 25px"
                            ></i
                            >&nbsp;办公常用
                        </h3>
                    </div>
                </div>
            </div>
            <div class="container-fluid">
                <div
                        class="text-monospace d-sm-flex justify-content-between align-items-center mb-4"
                ></div>
                <div class="row">
                    <div class="col-md-6 col-xl-3 mb-4">
                        <div
                                class="card shadow border-left-primary py-2"
                                style="background: rgb(255, 255, 255)"
                        >
                            <div class="card-body">
                                <div
                                        class="row align-items-center no-gutters"
                                        style="text-align: center"
                                >
                                    <div class="col" style="text-align: center">
                                        <form style="font-size: 22px">
                                            <a href="https://www.cignacmb.com/" target="_blank">
                                                <img src="../static/img/cigna.png" alt=""/>
                                                公司官网
                                            </a>
                                        </form>
                                    </div>
                                    <div class="col-auto">
                                        <span style="text-align: left"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-xl-3 mb-4">
                        <div class="card shadow border-left-success py-2">
                            <div class="card-body">
                                <div
                                        class="row align-items-center no-gutters"
                                        style="text-align: center"
                                >
                                    <div class="col" style="text-align: center">
                                        <form style="font-size: 22px">
                                            <a href="http://10.142.0.30/" target="_blank">
                                                <img src="../static/img/cigna.png" alt=""/>
                                                上网认证系统
                                            </a>
                                        </form>
                                    </div>
                                    <div class="col-auto">
                                        <span style="text-align: left"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-xl-3 mb-4">
                        <div class="card shadow border-left-info py-2">
                            <div class="card-body">
                                <div class="col" style="text-align: center">
                                    <form style="font-size: 22px">
                                        <a
                                                target="_blank"
                                                href="http://szvmapccos01.cmc-xinnuo.com:81/"
                                        >
                                            <img src="../static/img/cigna.png" alt=""/>
                                            CCOS内网辅助系统
                                        </a>
                                    </form>
                                </div>
                                <div class="row align-items-center no-gutters">
                                    <div class="col mr-2">
                                        <div
                                                class="text-uppercase text-info font-weight-bold text-xs mb-1"
                                        ></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-xl-3 mb-4">
                        <div class="card shadow border-left-warning py-2">
                            <div class="card-body">
                                <div class="row align-items-center no-gutters">
                                    <div class="col" style="text-align: center">
                                        <form style="font-size: 22px">
                                            <a
                                                    target="_blank"
                                                    href="https://dms.cignacmb.com/dms/ "
                                            >
                                                <img src="../static/img/cigna.png" alt=""/>
                                                DMS投递管理系统
                                            </a>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 col-xl-3 mb-4">
                        <div class="card shadow border-left-primary py-2">
                            <div class="card-body">
                                <div class="row align-items-center no-gutters">
                                    <div class="col" style="text-align: center">
                                        <form style="font-size: 22px">
                                            <a
                                                    href="https://tmr.cignacmb.com/tm-platforms/#/login
                                                   "
                                                    target="_blank"
                                            >
                                                <img src="../static/img/cigna.png" alt=""/>
                                                诸葛月儿平台
                                            </a>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-xl-3 mb-4">
                        <div class="card shadow border-left-success py-2">
                            <div class="card-body">
                                <div class="row align-items-center no-gutters">
                                    <div class="col" style="text-align: center">
                                        <form style="font-size: 22px">
                                            <a
                                                    href="http://10.142.107.36/esales-admin/login.shtml"
                                                    target="_blank"
                                            >
                                                <img src="../static/img/cigna.png" alt=""/>
                                                营销支持平台后台管理系统
                                            </a>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-xl-3 mb-4">
                        <div class="card shadow border-left-info py-2">
                            <div class="card-body">
                                <div
                                        class="row align-items-center no-gutters"
                                        style="text-align: center"
                                >
                                    <div class="col" style="text-align: center">
                                        <form style="font-size: 22px">
                                            <a
                                                    href="https://tm.cignacmb.com:4443/ccc/pc-CCC/index.html"
                                                    target="_blank"
                                            >
                                                <img src="../static/img/cigna.png" alt=""/>
                                                诸葛月儿桌席监控
                                            </a>
                                        </form>
                                    </div>
                                    <div class="col-auto">
                                        <span style="text-align: left"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 col-xl-3 mb-4">
                        <div class="card shadow border-left-warning py-2">
                            <div class="card-body">
                                <div class="row align-items-center no-gutters">
                                    <div class="col" style="text-align: center">
                                        <form style="font-size: 22px">
                                            <a
                                                    href="http://10.142.106.100/#/login"
                                                    target="_blank"
                                            >
                                                <img src="../static/img/cigna.png" alt=""/>
                                                营销支持平台MIS管理系统
                                            </a>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-xl-3 mb-4">
                        <div class="card shadow border-left-primary py-2">
                            <div class="card-body">
                                <div class="row align-items-center no-gutters">
                                    <div class="col" style="text-align: center">
                                        <form style="font-size: 22px">
                                            <a
                                                    target="_blank"
                                                    href="https://elearningbar.cignacmb.com/login"
                                            >
                                                <img src="../static/img/cigna.png" alt=""/>
                                                E学吧
                                            </a>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container-fluid">
                <div
                        class="d-sm-flex justify-content-between align-items-center justify-content-xl-center mb-4"
                        style="color: var(--indigo)"
                ></div>
                <div class="row" style="color: var(--blue)">
                    <div class="col">
                        <a href="#"></a>
                        <h3
                                class="text-dark d-xl-flex justify-content-xl-center mb-0"
                                style="color: var(--blue); height: 25px"
                        >
                            <i
                                    class="far fa-file-alt d-xl-flex justify-content-xl-center"
                                    style="font-size: 28px; height: 25px"
                            ></i
                            >&nbsp;销售用语
                        </h3>
                    </div>
                </div>
            </div>
            <div class="container-fluid">
                <div
                        class="text-monospace d-sm-flex justify-content-between align-items-center mb-4"
                ></div>
                <div class="row">
                    <div class="col-md-6 col-xl-3 mb-4">
                        <div
                                class="card shadow border-left-primary py-2"
                                style="background: rgb(255, 255, 255)"
                        >
                            <div class="card-body">
                                <div
                                        class="row align-items-center no-gutters"
                                        style="text-align: center"
                                >
                                    <div class="col" style="text-align: center">
                                        <form style="font-size: 22px">
                                            <a
                                                    target="_blank"
                                                    href="file://10.143.17.20/cddtc/QA/销售用语/DTC-CD-招商信诺爱享康健重大疾病保险产品计划销售用语20210406.docx"
                                            >
                                                <img
                                                        src="../static/img/word.png"
                                                        width="41"
                                                        height="41"
                                                        alt=""
                                                />
                                                爱享康健
                                            </a>
                                        </form>
                                    </div>
                                    <div class="col-auto">
                                        <span style="text-align: left"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-xl-3 mb-4">
                        <div class="card shadow border-left-success py-2">
                            <div class="card-body">
                                <div
                                        class="row align-items-center no-gutters"
                                        style="text-align: center"
                                >
                                    <div class="col" style="text-align: center">
                                        <form style="font-size: 22px">
                                            <a
                                                    href="file://10.143.17.20/cddtc/QA/销售用语/DTC-CD-招商信诺臻享康健重大疾病保险产品计划（臻惠保）销售用语20210407.docx"
                                            >
                                                <img
                                                        src="../static/img/word.png"
                                                        width="41px"
                                                        height="41px"
                                                        alt=""
                                                />臻享康健</a
                                            >
                                        </form>
                                    </div>
                                    <div class="col-auto">
                                        <span style="text-align: left"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-xl-3 mb-4">
                        <div class="card shadow border-left-info py-2">
                            <div class="card-body">
                                <div class="col" style="text-align: center">
                                    <form style="font-size: 22px">
                                        <a
                                                href="file://10.143.17.20/cddtc/QA/销售用语/DTC项目在售产品用语调整内容介绍20210407.pptx"
                                        ><img
                                                src="../static/img/powerpoint.png"
                                                width="41px"
                                                height="41px"
                                                alt=""
                                        />DTC在售产品用语调整</a
                                        >
                                    </form>
                                </div>
                                <div class="row align-items-center no-gutters">
                                    <div class="col mr-2">
                                        <div
                                                class="text-uppercase text-info font-weight-bold text-xs mb-1"
                                        ></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-xl-3 mb-4">
                        <div class="card shadow border-left-warning py-2">
                            <div class="card-body">
                                <div class="row align-items-center no-gutters">
                                    <div class="col" style="text-align: center">
                                        <form style="font-size: 22px">
                                            <a
                                                    target="_blank"
                                                    href="file://10.143.17.20/cddtc/QA/销售用语/和瑞一号终身寿险标准版销售用语-20210329终稿.docx"
                                            ><img
                                                    src="../static/img/word.png"
                                                    width="41px"
                                                    height="41px"
                                                    alt=""
                                            />和瑞一号</a
                                            >
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container-fluid">
                <div
                        class="d-sm-flex justify-content-between align-items-center justify-content-xl-center mb-4"
                        style="color: var(--indigo)"
                ></div>
                <div class="row" style="color: var(--blue)">
                    <div class="col">
                        <a href="#"></a>
                        <h3
                                class="text-dark d-xl-flex justify-content-xl-center mb-0"
                                style="color: var(--blue); height: 25px"
                        >
                            <i
                                    class="la la-book d-xl-flex justify-content-xl-center"
                                    style="font-size: 28px; height: 25px"
                            ></i
                            >&nbsp;学习资料
                        </h3>
                    </div>
                </div>
            </div>
            <div class="container-fluid">
                <div
                        class="text-monospace d-sm-flex justify-content-between align-items-center mb-4"
                ></div>
                <div class="row">
                    <div class="col-md-6 col-xl-3 mb-4">
                        <div
                                class="card shadow border-left-primary py-2"
                                style="background: rgb(255, 255, 255)"
                        >
                            <div class="card-body">
                                <div
                                        class="row align-items-center no-gutters"
                                        style="text-align: center"
                                >
                                    <div class="col" style="text-align: center">
                                        <form style="font-size: 22px">
                                            <a
                                                    target="_blank"
                                                    href="file://10.143.17.20/cddtc/QA/产品条款及费率表"
                                            >
                                                <img src="../static/img/files.png"/> &nbsp;&nbsp; 产品条款</a
                                            >
                                        </form>
                                    </div>
                                    <div class="col-auto">
                                        <span style="text-align: left"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-xl-3 mb-4">
                        <div class="card shadow border-left-success py-2">
                            <div class="card-body">
                                <div
                                        class="row align-items-center no-gutters"
                                        style="text-align: center"
                                >
                                    <div class="col" style="text-align: center">
                                        <form style="font-size: 22px">
                                            <a
                                                    target="_blank"
                                                    href="file://10.143.17.20/cddtc/QA/销售用语"
                                            >
                                                <img src="../static/img/files.png"/> &nbsp;&nbsp; 销售用语</a
                                            >
                                        </form>
                                    </div>
                                    <div class="col-auto">
                                        <span style="text-align: left"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-xl-3 mb-4">
                        <div class="card shadow border-left-info py-2">
                            <div class="card-body">
                                <div class="col" style="text-align: center">
                                    <form style="font-size: 22px">
                                        <a
                                                target="_blank"
                                                href="file://10.143.17.20/cddtc/QA/员工分层数据"
                                        >
                                            <img src="../static/img/files.png"/> &nbsp;&nbsp;员工分层</a
                                        >
                                    </form>
                                </div>
                                <div class="row align-items-center no-gutters">
                                    <div class="col mr-2">
                                        <div
                                                class="text-uppercase text-info font-weight-bold text-xs mb-1"
                                        ></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-xl-3 mb-4">
                        <div class="card shadow border-left-warning py-2">
                            <div class="card-body">
                                <div class="row align-items-center no-gutters">
                                    <div class="col" style="text-align: center">
                                        <form style="font-size: 22px">
                                            <a
                                                    target="_blank"
                                                    href="file://10.143.17.20/cddtc/QA/质检加油站"
                                            >
                                                <img src="../static/img/files.png" alt=""/>&nbsp;&nbsp;
                                                质检知识学习园地</a
                                            >
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <a href="#" name="tool"></a>
                        <h3
                                class="text-dark d-xl-flex justify-content-xl-center mb-0"
                                style="color: var(--blue); height: 25px"
                        >
                            <i
                                    class="la la-wrench d-xl-flex justify-content-xl-center"
                                    style="font-size: 28px; height: 25px"
                            ></i
                            >&nbsp;常用工具
                        </h3>
                    </div>
                </div>
            </div>
            <div class="container-fluid">
                <div
                        class="text-monospace d-sm-flex justify-content-between align-items-center mb-4"
                ></div>
                <div class="row">
                    <div class="col-md-6 col-xl-3 mb-4">
                        <div
                                class="card shadow border-left-primary py-2"
                                style="background: rgb(255, 255, 255)"
                        >
                            <div class="card-body">
                                <div
                                        class="row align-items-center no-gutters"
                                        style="text-align: center"
                                >
                                    <div class="col" style="text-align: center">
                                        <form style="font-size: 22px">
                                            <a target="_blank" href="http://10.142.107.80/#/"
                                            ><img src="../static/img/cigna.png" width="41" height="41"/>
                                                域账号重置
                                            </a>
                                        </form>
                                    </div>
                                    <div class="col-auto">
                                        <span style="text-align: left"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-xl-3 mb-4">
                        <div class="card shadow border-left-success py-2">
                            <div class="card-body">
                                <div
                                        class="row align-items-center no-gutters"
                                        style="text-align: center"
                                >
                                    <div class="col" style="text-align: center">
                                        <form style="font-size: 22px">
                                            <a target="_blank" href="http://10.142.107.80/#/"
                                            ><img src="../static/img/cigna.png" width="41" height="41"/>
                                                域账号解锁
                                            </a>
                                        </form>
                                    </div>
                                    <div class="col-auto">
                                        <span style="text-align: left"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-xl-3 mb-4">
                        <div class="card shadow border-left-info py-2">
                            <div class="card-body">
                                <div class="col" style="text-align: center">
                                    <form style="font-size: 22px">
                                        <a
                                                target="_blank"
                                                href="file://10.143.17.20/cddtc/IT/Tool/企业微信自助安装.exe"
                                        >
                                            <img
                                                    src="../static/img/wechat.png"
                                                    width="41px"
                                                    height="41px"
                                            />&nbsp; 企业微信自助安装</a
                                        >
                                    </form>
                                </div>
                                <div class="row align-items-center no-gutters">
                                    <div class="col mr-2">
                                        <div
                                                class="text-uppercase text-info font-weight-bold text-xs mb-1"
                                        ></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-xl-3 mb-4">
                        <div class="card shadow border-left-warning py-2">
                            <div class="card-body">
                                <div class="col" style="text-align: center">
                                    <form style="font-size: 22px">
                                        <a
                                                target="_blank"
                                                href="file://10.143.28.97/cddtc/Tool/Chrome.exe"
                                        >
                                            <img
                                                    src="../static/img/chrome.png"
                                                    width="41px"
                                                    height="41px"
                                            />&nbsp; 谷歌浏览器自助安装</a
                                        >
                                    </form>
                                </div>
                                <div class="row align-items-center no-gutters">
                                    <div class="col mr-2">
                                        <div
                                                class="text-uppercase text-info font-weight-bold text-xs mb-1"
                                        ></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-xl-3 mb-4">
                        <div class="card shadow border-left-info py-2">
                            <div class="card-body">
                                <div class="col" style="text-align: center">
                                    <form style="font-size: 22px">
                                        <a
                                                target="_blank"
                                                href="file://10.143.28.97/cddtc/Tool/DesktopLink.exe"
                                        >
                                            <img
                                                    src="../static/img/link.png"
                                                    width="41px"
                                                    height="41px"
                                            />&nbsp; 常用网址和共享</a
                                        >
                                    </form>
                                </div>
                                <div class="row align-items-center no-gutters">
                                    <div class="col mr-2">
                                        <div
                                                class="text-uppercase text-info font-weight-bold text-xs mb-1"
                                        ></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-xl-3 mb-4">
                        <div class="card shadow border-left-success py-2">
                            <div class="card-body">
                                <div class="row align-items-center no-gutters">
                                    <div class="col" style="text-align: center">
                                        <form style="font-size: 22px">
                                            <a target="_blank" href="file://10.143.17.20/cddtc/IT"
                                            ><img
                                                    src="../static/img/share.png"
                                                    width="41px"
                                                    height="41px"
                                                    alt=""
                                            />&nbsp;TMR文件夹</a
                                            >
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endblock main %}

</div>